nodered_flow.json
[
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "nodered_bioreactor_dashboard",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true
    },
    {
        "id": "ui_tab",
        "type": "ui_tab",
        "name": "Bioreactor Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "ui_group_stirrer",
        "type": "ui_group",
        "name": "Stirrer Control",
        "tab": "ui_tab",
        "order": 1,
        "width": "6"
    },
    {
        "id": "ui_group_temp",
        "type": "ui_group",
        "name": "Temperature Control",
        "tab": "ui_tab",
        "order": 2,
        "width": "6"
    },
    {
        "id": "ui_group_ph",
        "type": "ui_group",
        "name": "pH Control",
        "tab": "ui_tab",
        "order": 3,
        "width": "6"
    },
    {
        "id": "mqtt_rpm_in",
        "type": "mqtt in",
        "z": "main_flow",
        "name": "RPM Sensor",
        "topic": "bioreactor/sensor/rpm",
        "qos": "0",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [["rpm_gauge", "rpm_chart", "debug_rpm"]]
    },
    {
        "id": "rpm_gauge",
        "type": "ui_gauge",
        "z": "main_flow",
        "name": "RPM Gauge",
        "group": "ui_group_stirrer",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Current RPM",
        "label": "RPM",
        "format": "{{value | number:1}}",
        "min": "0",
        "max": "1500",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "500",
        "seg2": "1000",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "rpm_chart",
        "type": "ui_chart",
        "z": "main_flow",
        "name": "RPM Chart",
        "group": "ui_group_stirrer",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "RPM Trend",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "x": 340,
        "y": 140,
        "wires": [[],[]]
    },
    {
        "id": "rpm_slider",
        "type": "ui_slider",
        "z": "main_flow",
        "name": "RPM Setpoint",
        "label": "RPM Setpoint",
        "group": "ui_group_stirrer",
        "order": 2,
        "width": "6",
        "height": "1",
        "min": "500",
        "max": "1500",
        "step": "50",
        "topic": "",
        "x": 140,
        "y": 200,
        "wires": [["mqtt_rpm_out"]]
    },
    {
        "id": "mqtt_rpm_out",
        "type": "mqtt out",
        "z": "main_flow",
        "name": "Set RPM",
        "topic": "bioreactor/setpoint/rpm",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker",
        "x": 360,
        "y": 200,
        "wires": []
    },
    {
        "id": "mqtt_temp_in",
        "type": "mqtt in",
        "z": "main_flow",
        "name": "Temperature Sensor",
        "topic": "bioreactor/sensor/temperature",
        "qos": "0",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 140,
        "y": 300,
        "wires": [["temp_gauge", "temp_chart", "debug_temp"]]
    },
    {
        "id": "temp_gauge",
        "type": "ui_gauge",
        "z": "main_flow",
        "name": "Temperature Gauge",
        "group": "ui_group_temp",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Current Temperature",
        "label": "°C",
        "format": "{{value | number:2}}",
        "min": "20",
        "max": "40",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "25",
        "seg2": "35",
        "x": 380,
        "y": 300,
        "wires": []
    },
    {
        "id": "temp_chart",
        "type": "ui_chart",
        "z": "main_flow",
        "name": "Temperature Chart",
        "group": "ui_group_temp",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "Temperature Trend",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "20",
        "ymax": "40",
        "x": 380,
        "y": 340,
        "wires": [[],[]]
    },
    {
        "id": "temp_slider",
        "type": "ui_slider",
        "z": "main_flow",
        "name": "Temperature Setpoint",
        "label": "Temp Setpoint (°C)",
        "group": "ui_group_temp",
        "order": 2,
        "width": "6",
        "height": "1",
        "min": "25",
        "max": "35",
        "step": "0.5",
        "topic": "",
        "x": 170,
        "y": 400,
        "wires": [["mqtt_temp_out"]]
    },
    {
        "id": "mqtt_temp_out",
        "type": "mqtt out",
        "z": "main_flow",
        "name": "Set Temperature",
        "topic": "bioreactor/setpoint/temperature",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker",
        "x": 390,
        "y": 400,
        "wires": []
    },
    {
        "id": "mqtt_ph_in",
        "type": "mqtt in",
        "z": "main_flow",
        "name": "pH Sensor",
        "topic": "bioreactor/sensor/ph",
        "qos": "0",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 120,
        "y": 500,
        "wires": [["ph_gauge", "ph_chart", "debug_ph"]]
    },
    {
        "id": "ph_gauge",
        "type": "ui_gauge",
        "z": "main_flow",
        "name": "pH Gauge",
        "group": "ui_group_ph",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Current pH",
        "label": "pH",
        "format": "{{value | number:2}}",
        "min": "3",
        "max": "7",
        "colors": ["#ca3838","#00b500","#ca3838"],
        "seg1": "4",
        "seg2": "6",
        "x": 330,
        "y": 500,
        "wires": []
    },
    {
        "id": "ph_chart",
        "type": "ui_chart",
        "z": "main_flow",
        "name": "pH Chart",
        "group": "ui_group_ph",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "pH Trend",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "3",
        "ymax": "7",
        "x": 330,
        "y": 540,
        "wires": [[],[]]
    },
    {
        "id": "ph_slider",
        "type": "ui_slider",
        "z": "main_flow",
        "name": "pH Setpoint",
        "label": "pH Setpoint",
        "group": "ui_group_ph",
        "order": 2,
        "width": "6",
        "height": "1",
        "min": "3",
        "max": "7",
        "step": "0.1",
        "topic": "",
        "x": 140,
        "y": 600,
        "wires": [["mqtt_ph_out"]]
    },
    {
        "id": "mqtt_ph_out",
        "type": "mqtt out",
        "z": "main_flow",
        "name": "Set pH",
        "topic": "bioreactor/setpoint/ph",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker",
        "x": 350,
        "y": 600,
        "wires": []
    },
    {
        "id": "debug_rpm",
        "type": "debug",
        "z": "main_flow",
        "name": "Debug RPM",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug_temp",
        "type": "debug",
        "z": "main_flow",
        "name": "Debug Temp",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "debug_ph",
        "type": "debug",
        "z": "main_flow",
        "name": "Debug pH",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 340,
        "y": 460,
        "wires": []
    },
    {
        "id": "main_flow",
        "type": "tab",
        "label": "Bioreactor Control Flow",
        "disabled": false,
        "info": "Main flow for bioreactor monitoring and control"
    }
]
