docs/nodered_flow.json
[
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "HiveMQ Public Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "nodered_bioreactor_client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "dashboard_base",
        "type": "ui-base",
        "name": "Bioreactor Dashboard",
        "path": "/dashboard"
    },
    {
        "id": "dashboard_page",
        "type": "ui-page",
        "name": "Bioreactor Control",
        "ui": "dashboard_base",
        "path": "/bioreactor",
        "icon": "water"
    },
    {
        "id": "group_stirrer",
        "type": "ui-group",
        "name": "Stirrer Control",
        "page": "dashboard_page",
        "width": "6",
        "height": "1"
    },
    {
        "id": "group_temperature",
        "type": "ui-group",
        "name": "Temperature Control",
        "page": "dashboard_page",
        "width": "6",
        "height": "1"
    },
    {
        "id": "group_ph",
        "type": "ui-group",
        "name": "pH Control",
        "page": "dashboard_page",
        "width": "6",
        "height": "1"
    },
    {
        "id": "flow_main",
        "type": "tab",
        "label": "Bioreactor System",
        "disabled": false
    },
    {
        "id": "mqtt_rpm_in",
        "type": "mqtt in",
        "z": "flow_main",
        "name": "RPM Sensor",
        "topic": "bioreactor/sensor/rpm",
        "qos": "0",
        "broker": "mqtt_broker_config",
        "x": 120,
        "y": 100,
        "wires": [["rpm_gauge", "rpm_chart", "debug_rpm"]]
    },
    {
        "id": "rpm_gauge",
        "type": "ui-gauge",
        "z": "flow_main",
        "name": "RPM Gauge",
        "group": "group_stirrer",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gauge",
        "title": "Current RPM",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": 1500,
        "segments": [
            {"from": 0, "color": "#00b500"},
            {"from": 500, "color": "#e6e600"},
            {"from": 1000, "color": "#ca3838"}
        ],
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "rpm_chart",
        "type": "ui-chart",
        "z": "flow_main",
        "name": "RPM Chart",
        "group": "group_stirrer",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "RPM Trend",
        "chartType": "line",
        "legend": "false",
        "xAxisLabel": "Time",
        "yAxisLabel": "RPM",
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "x": 340,
        "y": 120,
        "wires": [[]]
    },
    {
        "id": "rpm_slider",
        "type": "ui-slider",
        "z": "flow_main",
        "name": "RPM Setpoint",
        "group": "group_stirrer",
        "order": 3,
        "width": "6",
        "height": "1",
        "label": "Set RPM",
        "min": 500,
        "max": 1500,
        "step": 50,
        "x": 140,
        "y": 160,
        "wires": [["mqtt_rpm_out", "debug_rpm_set"]]
    },
    {
        "id": "mqtt_rpm_out",
        "type": "mqtt out",
        "z": "flow_main",
        "name": "Publish RPM Setpoint",
        "topic": "bioreactor/setpoint/rpm",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker_config",
        "x": 380,
        "y": 160,
        "wires": []
    },
    {
        "id": "mqtt_temp_in",
        "type": "mqtt in",
        "z": "flow_main",
        "name": "Temperature Sensor",
        "topic": "bioreactor/sensor/temperature",
        "qos": "0",
        "broker": "mqtt_broker_config",
        "x": 140,
        "y": 260,
        "wires": [["temp_gauge", "temp_chart", "debug_temp"]]
    },
    {
        "id": "temp_gauge",
        "type": "ui-gauge",
        "z": "flow_main",
        "name": "Temperature Gauge",
        "group": "group_temperature",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gauge",
        "title": "Current Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 20,
        "max": 40,
        "segments": [
            {"from": 20, "color": "#00b500"},
            {"from": 25, "color": "#e6e600"},
            {"from": 35, "color": "#ca3838"}
        ],
        "x": 380,
        "y": 240,
        "wires": []
    },
    {
        "id": "temp_chart",
        "type": "ui-chart",
        "z": "flow_main",
        "name": "Temperature Chart",
        "group": "group_temperature",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "Temperature Trend",
        "chartType": "line",
        "legend": "false",
        "xAxisLabel": "Time",
        "yAxisLabel": "°C",
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "x": 380,
        "y": 280,
        "wires": [[]]
    },
    {
        "id": "temp_slider",
        "type": "ui-slider",
        "z": "flow_main",
        "name": "Temperature Setpoint",
        "group": "group_temperature",
        "order": 3,
        "width": "6",
        "height": "1",
        "label": "Set Temperature (°C)",
        "min": 25,
        "max": 35,
        "step": 0.5,
        "x": 170,
        "y": 320,
        "wires": [["mqtt_temp_out", "debug_temp_set"]]
    },
    {
        "id": "mqtt_temp_out",
        "type": "mqtt out",
        "z": "flow_main",
        "name": "Publish Temperature Setpoint",
        "topic": "bioreactor/setpoint/temperature",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker_config",
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "mqtt_ph_in",
        "type": "mqtt in",
        "z": "flow_main",
        "name": "pH Sensor",
        "topic": "bioreactor/sensor/ph",
        "qos": "0",
        "broker": "mqtt_broker_config",
        "x": 120,
        "y": 420,
        "wires": [["ph_gauge", "ph_chart", "debug_ph"]]
    },
    {
        "id": "ph_gauge",
        "type": "ui-gauge",
        "z": "flow_main",
        "name": "pH Gauge",
        "group": "group_ph",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gauge",
        "title": "Current pH",
        "label": "pH",
        "format": "{{value}}",
        "min": 3,
        "max": 7,
        "segments": [
            {"from": 3, "color": "#ca3838"},
            {"from": 4, "color": "#e6e600"},
            {"from": 5, "color": "#00b500"},
            {"from": 6, "color": "#e6e600"},
            {"from": 6.5, "color": "#ca3838"}
        ],
        "x": 340,
        "y": 400,
        "wires": []
    },
    {
        "id": "ph_chart",
        "type": "ui-chart",
        "z": "flow_main",
        "name": "pH Chart",
        "group": "group_ph",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "pH Trend",
        "chartType": "line",
        "legend": "false",
        "xAxisLabel": "Time",
        "yAxisLabel": "pH",
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "x": 340,
        "y": 440,
        "wires": [[]]
    },
    {
        "id": "ph_slider",
        "type": "ui-slider",
        "z": "flow_main",
        "name": "pH Setpoint",
        "group": "group_ph",
        "order": 3,
        "width": "6",
        "height": "1",
        "label": "Set pH",
        "min": 3,
        "max": 7,
        "step": 0.1,
        "x": 140,
        "y": 480,
        "wires": [["mqtt_ph_out", "debug_ph_set"]]
    },
    {
        "id": "mqtt_ph_out",
        "type": "mqtt out",
        "z": "flow_main",
        "name": "Publish pH Setpoint",
        "topic": "bioreactor/setpoint/ph",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker_config",
        "x": 370,
        "y": 480,
        "wires": []
    },
    {
        "id": "debug_rpm",
        "type": "debug",
        "z": "flow_main",
        "name": "Debug RPM In",
        "active": true,
        "console": false,
        "complete": "payload",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "debug_rpm_set",
        "type": "debug",
        "z": "flow_main",
        "name": "Debug RPM Out",
        "active": true,
        "console": false,
        "complete": "payload",
        "x": 370,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug_temp",
        "type": "debug",
        "z": "flow_main",
        "name": "Debug Temp In",
        "active": true,
        "console": false,
        "complete": "payload",
        "x": 370,
        "y": 220,
        "wires": []
    },
    {
        "id": "debug_temp_set",
        "type": "debug",
        "z": "flow_main",
        "name": "Debug Temp Out",
        "active": true,
        "console": false,
        "complete": "payload",
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "debug_ph",
        "type": "debug",
        "z": "flow_main",
        "name": "Debug pH In",
        "active": true,
        "console": false,
        "complete": "payload",
        "x": 350,
        "y": 380,
        "wires": []
    },
    {
        "id": "debug_ph_set",
        "type": "debug",
        "z": "flow_main",
        "name": "Debug pH Out",
        "active": true,
        "console": false,
        "complete": "payload",
        "x": 360,
        "y": 520,
        "wires": []
    }
]